<div class="container mt-5">
  <div class="row">
    <div class="col-8">
      <h3>Kategoriler</h3>
      <button class="btn btn-outline-success" (click)="Ekle(modalEkleDuzenle)"
        >Kategori Ekle</button>
      <table class="table table-hover mt-3">
        <thead>
          <th>Id</th>
          <th>Kategori Adı</th>
          <th>Kayıt Tarihi</th>
          <th>Düzenleme Tarihi</th>
          <th>İlanlar</th>
          <th>Düzenle</th>
          <th>Sil</th>
        </thead>
        <tbody>
          <tr *ngFor="let kat of kategoriler">
            <td>{{kat.katId}}</td>
            <td>{{kat.katadi}}</td>
            <td>{{kat.kaytarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td>{{kat.duztarih | date:'dd.MM.yyyy HH:mm:ss'}}</td>
            <td><button class="btn btn-outline-info" [routerLink]="['/ilanlar',kat.katId]">İlanlar</button></td>
            <td><button class=" btn btn-outline-warning" (click)="Duzenle(kat,modalEkleDuzenle)"
                >Düzenle</button></td>
            <td><button class="btn btn-outline-danger" (click)="Sil(kat,modalSil)"
                >Sil</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" #modalEkleDuzenle>
  <div class="modal-dialog">
    <form [formGroup]="frm" (ngSubmit)="KategoriEkleDuzenle()">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">{{modalBaslik}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Kategori Adı</label>
            <input type="text" class="form-control" formControlName="katadi">
            <input type="hidden" class="form-control" formControlName="id">
            <input type="hidden" class="form-control" formControlName="kaytarih">
            <input type="hidden" class="form-control" formControlName="duztarih">

          </div>

        </div>
        <div class="modal-footer">

          <input type="submit" class="btn btn-outline-primary" value="Kaydet">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal" tabindex="-1" #modalSil>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 *ngIf="secKat">{{secKat.katadi}} adlı kategori silinecektir onaylıyor musunuz?</h6>
      </div>
      <div class="modal-footer">

        <button class="btn btn-outline-danger" *ngIf="secKat" (click)="KategoriSil()">Sil</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>

  </div>
</div>